@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --orange: #FFB800;
  --bgColor: #1f2122;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  /* background: var(--bgColor); */
  background: url('../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 100%;
}

.authentication_container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
  height: 100vh;
  border-radius: 1rem;
  background: rgba(57, 57, 57, 0.5);
}